.style-switch{
    position: fixed;
    right: 0;
    top: 30px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    border-radius: 5px;
    z-index: 100;
    transition: all 0.3s;
    transform: translateX(100%);
}
.style-switch.open{
    transform: translateX(-25px);
}
.style-switch .style-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    background: var(--bg-black-100);
    text-align: center;
    color: var(--text-black-900);
    font-size: 20px;
    right: 100%;
    border: 1px solid var(--bg-black-50);
    border-radius: 50%;
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.style-switch .style-icon i{
    line-height: 38px;
}
.style-switch .style-switch-toggle{
    top: 0;
}
.style-switch .day-night{
    top: 45px;
}
.style-switch h4{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    color: var(--text-black-700);
    text-transform: capitalize;
}
.style-switch .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switch .colors span{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.style-switch .colors .color-1{
    background-color: #ec1839;
}
.style-switch .colors .color-2{
    background-color: #fa5b0f;
}
.style-switch .colors .color-3{
    background-color: #37b182;
}
.style-switch .colors .color-4{
    background-color: #1854b4;
}
.style-switch .colors .color-5{
    background-color: #f021b2;
}